In [1]:
import pandas as pd 
import numpy as np

In [2]:
data = pd.read_csv(r'C:\Users\Manuel Montufar\Documents\ProyectosManu\Escuela\Analisis Numericos\car_prices.csv')

C:\Users\Manuel Montufar\AppData\Local\Temp\ipykernel_15820\2872568172.py:1: DtypeWarning: Columns (6,7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(r'C:\Users\Manuel Montufar\Documents\ProyectosManu\Escuela\Analisis Numericos\car_prices.csv')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558837 entries, 0 to 558836
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          558837 non-null  int64
 1   make          548536 non-null  object
 2   model         548438 non-null  object
 3   body          547912 non-null  object
 4   transmission  545635 non-null  object
 5   odometer      493492 non-null  object
 6   color         2690 non-null    object
 7   interior      2684 non-null    object
 8   seller        558737 non-null  object
 9   mmr           558094 non-null  object
 10  sellingprice  558094 non-null  object
dtypes: int64(1), object(10)
memory usage: 46.9+ MB

In [4]:
data.head()

,year,make,model,body,transmission,odometer,color,interior,seller,mmr,sellingprice
0,2015,Kia,Sorento,SUV,automatic,16639,white,black,kia motors america inc,20500,21500
1,2015,Kia,Sorento,SUV,automatic,9393,white,beige,kia motors america inc,20800,21500
2,2014,BMW,3 Series,Sedan,automatic,1331,gray,black,financial services remarketing (lease),31900,30000
3,2015,Volvo,S60,Sedan,automatic,14282,white,black,volvo na rep/world omni,27500,27750
4,2014,BMW,6 Series Gran Coupe,Sedan,automatic,2641,gray,black,financial services remarketing (lease),66000,67000

In [5]:
data.tail()

,year,make,model,body,transmission,odometer,color,interior,seller,mmr,sellingprice
558832,2015,Kia,K900,Luxury,Sedan,NaN,NaN,NaN,18255.0,silver,black
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,NaN,NaN,54393.0,white,black
558834,2012,BMW,X5,xDrive35d,SUV,automatic,NaN,NaN,50561.0,black,black
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,NaN,NaN,16658.0,white,black
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,NaN,NaN,15008.0,gray,gray

In [6]:
data.nunique()

year                34
make                96
model              973
body              1974
transmission        89
odometer           472
color             2191
interior            19
seller          215790
mmr                567
sellingprice       680
dtype: int64

In [7]:
data.isnull().sum()

year                 0
make             10301
model            10399
body             10925
transmission     13202
odometer         65345
color           556147
interior        556153
seller             100
mmr                743
sellingprice       743
dtype: int64

In [8]:
# Crear un diccionario para almacenar el conteo de cada tipo de transmisión
transmission_count = {}

# Iterar sobre cada fila en el DataFrame
for transmission in data['transmission']:
    # Si el valor de transmisión no está en el diccionario, inicializarlo a 1
    if transmission not in transmission_count:
        transmission_count[transmission] = 1
    # Si ya existe, incrementar el contador en 1
    else:
        transmission_count[transmission] += 1

# Mostrar el conteo de cada tipo de transmisión
for transmission, count in transmission_count.items():
    print(f"Transmisión: {transmission}, Count: {count}")

Transmisión: automatic, Count: 451
Transmisión: nan, Count: 13202
Transmisión: manual, Count: 10
Transmisión: G Sedan, Count: 5894
Transmisión: Sedan, Count: 199232
Transmisión: Wagon, Count: 13619
Transmisión: Coupe, Count: 14582
Transmisión: SUV, Count: 119224
Transmisión: Minivan, Count: 21360
Transmisión: Hatchback, Count: 21364
Transmisión: G Coupe, Count: 1240
Transmisión: Van, Count: 3958
Transmisión: Double Cab, Count: 1251
Transmisión: CrewMax Cab, Count: 445
Transmisión: Convertible, Count: 8641
Transmisión: Crew Cab, Count: 13277
Transmisión: Access Cab, Count: 232
Transmisión: King Cab, Count: 436
Transmisión: SuperCrew, Count: 7423
Transmisión: CTS Coupe, Count: 129
Transmisión: Extended Cab, Count: 3824
Transmisión: E-Series Van, Count: 1455
Transmisión: SuperCab, Count: 4449
Transmisión: Regular Cab, Count: 4067
Transmisión: G Convertible, Count: 249
Transmisión: Koup, Count: 147
Transmisión: Quad Cab, Count: 3436
Transmisión: CTS-V Coupe, Count: 28
Transmisión: sedan, Count: 41906
Transmisión: G37 Convertible, Count: 16
Transmisión: Club Cab, Count: 156
Transmisión: Xtracab, Count: 40
Transmisión: Genesis Coupe, Count: 231
Transmisión: Q60 Convertible, Count: 38
Transmisión: CTS Wagon, Count: 13
Transmisión: convertible, Count: 1824
Transmisión: G37 Coupe, Count: 11
Transmisión: Mega Cab, Count: 59
Transmisión: Cab Plus 4, Count: 5
Transmisión: Elantra Coupe, Count: 78
Transmisión: Q60 Coupe, Count: 32
Transmisión: Cab Plus, Count: 4
Transmisión: Beetle Convertible, Count: 52
Transmisión: TSX Sport Wagon, Count: 28
Transmisión: Promaster Cargo Van, Count: 49
Transmisión: GranTurismo Convertible, Count: 7
Transmisión: CTS-V Wagon, Count: 1
Transmisión: Ram Van, Count: 1
Transmisión: minivan, Count: 4166
Transmisión: suv, Count: 24552
Transmisión: Transit Van, Count: 12
Transmisión: Navitgation, Count: 26
Transmisión: van, Count: 570
Transmisión: regular-cab, Count: 15
Transmisión: g sedan, Count: 1418
Transmisión: g coupe, Count: 330
Transmisión: hatchback, Count: 4857
Transmisión: king cab, Count: 96
Transmisión: supercrew, Count: 1610
Transmisión: g convertible, Count: 74
Transmisión: coupe, Count: 3150
Transmisión: crew cab, Count: 3114
Transmisión: wagon, Count: 2499
Transmisión: double cab, Count: 350
Transmisión: e-series van, Count: 368
Transmisión: regular cab, Count: 783
Transmisión: quad cab, Count: 659
Transmisión: g37 convertible, Count: 4
Transmisión: supercab, Count: 862
Transmisión: extended cab, Count: 683
Transmisión: crewmax cab, Count: 120
Transmisión: genesis coupe, Count: 62
Transmisión: access cab, Count: 62
Transmisión: mega cab, Count: 52
Transmisión: xtracab, Count: 4
Transmisión: beetle convertible, Count: 7
Transmisión: cts coupe, Count: 29
Transmisión: koup, Count: 33
Transmisión: club cab, Count: 22
Transmisión: elantra coupe, Count: 23
Transmisión: q60 coupe, Count: 4
Transmisión: cts-v coupe, Count: 7
Transmisión: transit van, Count: 7
Transmisión: granturismo convertible, Count: 6
Transmisión: tsx sport wagon, Count: 8
Transmisión: promaster cargo van, Count: 10
Transmisión: q60 convertible, Count: 4
Transmisión: g37 coupe, Count: 1
Transmisión: cab plus 4, Count: 1
Transmisión: cts wagon, Count: 1

In [9]:
# Encontrar el valor más frecuente
most_frequent = data['transmission'].mode()[0]
# Rellenar los NaN con el valor más frecuente
data['transmission'].fillna(most_frequent, inplace=True)

In [10]:
data.tail()

,year,make,model,body,transmission,odometer,color,interior,seller,mmr,sellingprice
558832,2015,Kia,K900,Luxury,Sedan,NaN,NaN,NaN,18255.0,silver,black
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,NaN,NaN,54393.0,white,black
558834,2012,BMW,X5,xDrive35d,SUV,automatic,NaN,NaN,50561.0,black,black
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,NaN,NaN,16658.0,white,black
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,NaN,NaN,15008.0,gray,gray

In [11]:
print(data.transmission.unique())
print(data.transmission.nunique())

['automatic' 'Sedan' 'manual' 'G Sedan' 'Wagon' 'Coupe' 'SUV' 'Minivan'
 'Hatchback' 'G Coupe' 'Van' 'Double Cab' 'CrewMax Cab' 'Convertible'
 'Crew Cab' 'Access Cab' 'King Cab' 'SuperCrew' 'CTS Coupe' 'Extended Cab'
 'E-Series Van' 'SuperCab' 'Regular Cab' 'G Convertible' 'Koup' 'Quad Cab'
 'CTS-V Coupe' 'sedan' 'G37 Convertible' 'Club Cab' 'Xtracab'
 'Genesis Coupe' 'Q60 Convertible' 'CTS Wagon' 'convertible' 'G37 Coupe'
 'Mega Cab' 'Cab Plus 4' 'Elantra Coupe' 'Q60 Coupe' 'Cab Plus'
 'Beetle Convertible' 'TSX Sport Wagon' 'Promaster Cargo Van'
 'GranTurismo Convertible' 'CTS-V Wagon' 'Ram Van' 'minivan' 'suv'
 'Transit Van' 'Navitgation' 'van' 'regular-cab' 'g sedan' 'g coupe'
 'hatchback' 'king cab' 'supercrew' 'g convertible' 'coupe' 'crew cab'
 'wagon' 'double cab' 'e-series van' 'regular cab' 'quad cab'
 'g37 convertible' 'supercab' 'extended cab' 'crewmax cab' 'genesis coupe'
 'access cab' 'mega cab' 'xtracab' 'beetle convertible' 'cts coupe' 'koup'
 'club cab' 'elantra coupe' 'q60 coupe' 'cts-v coupe' 'transit van'
 'granturismo convertible' 'tsx sport wagon' 'promaster cargo van'
 'q60 convertible' 'g37 coupe' 'cab plus 4' 'cts wagon']
89

In [12]:
# Lista de transmisiones permitidas
allowed_transmissions = ['manual', 'automatic']

# Reemplazar valores no permitidos con 'automatic'
data['transmission'] = data['transmission'].apply(lambda x: x if x in allowed_transmissions else 'automatic')

# Mostrar los valores únicos para confirmar
print(data['transmission'].unique())
print(data['transmission'].nunique())

['automatic' 'manual']
2

In [13]:
print(data.make.unique())
print(data.make.nunique())

['Kia' 'BMW' 'Volvo' 'Nissan' 'Chevrolet' 'Audi' 'Ford' 'Hyundai' 'Buick'
 'Cadillac' 'Acura' 'Lexus' 'Infiniti' 'Jeep' 'Mercedes-Benz' 'Mitsubishi'
 'Mazda' 'MINI' 'Land Rover' 'Lincoln' 'lincoln' 'Jaguar' 'Volkswagen'
 'Toyota' 'Subaru' 'Scion' 'Porsche' nan 'bmw' 'Dodge' 'FIAT' 'Chrysler'
 'ford' 'Ferrari' 'Honda' 'GMC' 'mitsubishi' 'Ram' 'smart' 'chevrolet'
 'Bentley' 'chrysler' 'pontiac' 'Pontiac' 'Saturn' 'Maserati' 'Mercury'
 'HUMMER' 'landrover' 'cadillac' 'land rover' 'mercedes' 'mazda' 'toyota'
 'lexus' 'gmc truck' 'honda' 'nissan' 'porsche' 'Saab' 'Suzuki' 'dodge'
 'subaru' 'Oldsmobile' 'oldsmobile' 'hyundai' 'jeep' 'Isuzu' 'dodge tk'
 'Geo' 'acura' 'volkswagen' 'suzuki' 'kia' 'audi' 'Rolls-Royce' 'gmc'
 'maserati' 'mazda tk' 'mercury' 'buick' 'hyundai tk' 'mercedes-b' 'vw'
 'Daewoo' 'chev truck' 'ford tk' 'plymouth' 'Plymouth' 'ford truck'
 'Tesla' 'airstream' 'dot' 'Aston Martin' 'Fisker' 'Lamborghini' 'Lotus']
96

In [14]:
data.isnull().sum()

year                 0
make             10301
model            10399
body             10925
transmission         0
odometer         65345
color           556147
interior        556153
seller             100
mmr                743
sellingprice       743
dtype: int64

In [15]:
# Asegurarse de que las columnas numéricas contengan solo valores numéricos
data['odometer'] = pd.to_numeric(data['odometer'], errors='coerce')
data['mmr'] = pd.to_numeric(data['mmr'], errors='coerce')
data['sellingprice'] = pd.to_numeric(data['sellingprice'], errors='coerce')

# Imputar valores numéricos con la mediana
data['odometer'].fillna(data['odometer'].median(), inplace=True)
data['mmr'].fillna(data['mmr'].median(), inplace=True)
data['sellingprice'].fillna(data['sellingprice'].median(), inplace=True)

# Imputar valores categóricos con la moda
data['make'].fillna(data['make'].mode()[0], inplace=True)
data['model'].fillna(data['model'].mode()[0], inplace=True)
data['body'].fillna(data['body'].mode()[0], inplace=True)
data['color'].fillna(data['color'].mode()[0], inplace=True)
data['interior'].fillna(data['interior'].mode()[0], inplace=True)

In [16]:
data.isnull().sum()

year              0
make              0
model             0
body              0
transmission      0
odometer          0
color             0
interior          0
seller          100
mmr               0
sellingprice      0
dtype: int64

In [17]:
# Rellenar valores nulos en 'seller' con la moda
seller_mode = data['seller'].mode()[0]
data['seller'].fillna(seller_mode, inplace=True)

In [18]:
print(data.make.unique())
print(data.make.nunique())

['Kia' 'BMW' 'Volvo' 'Nissan' 'Chevrolet' 'Audi' 'Ford' 'Hyundai' 'Buick'
 'Cadillac' 'Acura' 'Lexus' 'Infiniti' 'Jeep' 'Mercedes-Benz' 'Mitsubishi'
 'Mazda' 'MINI' 'Land Rover' 'Lincoln' 'lincoln' 'Jaguar' 'Volkswagen'
 'Toyota' 'Subaru' 'Scion' 'Porsche' 'bmw' 'Dodge' 'FIAT' 'Chrysler'
 'ford' 'Ferrari' 'Honda' 'GMC' 'mitsubishi' 'Ram' 'smart' 'chevrolet'
 'Bentley' 'chrysler' 'pontiac' 'Pontiac' 'Saturn' 'Maserati' 'Mercury'
 'HUMMER' 'landrover' 'cadillac' 'land rover' 'mercedes' 'mazda' 'toyota'
 'lexus' 'gmc truck' 'honda' 'nissan' 'porsche' 'Saab' 'Suzuki' 'dodge'
 'subaru' 'Oldsmobile' 'oldsmobile' 'hyundai' 'jeep' 'Isuzu' 'dodge tk'
 'Geo' 'acura' 'volkswagen' 'suzuki' 'kia' 'audi' 'Rolls-Royce' 'gmc'
 'maserati' 'mazda tk' 'mercury' 'buick' 'hyundai tk' 'mercedes-b' 'vw'
 'Daewoo' 'chev truck' 'ford tk' 'plymouth' 'Plymouth' 'ford truck'
 'Tesla' 'airstream' 'dot' 'Aston Martin' 'Fisker' 'Lamborghini' 'Lotus']
96

In [19]:
# Convertir todas las palabras en minúsculas y capitalizar la primera letra de cada palabra
data['make'] = data['make'].str.title()

# Estandarizar nombres comunes
data['make'].replace({'Bmw': 'BMW', 'Chev Truck': 'Chevrolet', 'Ford Tk': 'Ford', 'Gmc Truck': 'GMC', 'Hyundai Tk': 'Hyundai', 'Mazda Tk': 'Mazda', 'Oldsmobile': 'Oldsmobile', 'Plymouth': 'Plymouth', 'Rolls-Royce': 'Rolls Royce', 'Mercedes-B': 'Mercedes-Benz'}, inplace=True)

In [20]:
print(data.make.unique())
print(data.make.nunique())

['Kia' 'BMW' 'Volvo' 'Nissan' 'Chevrolet' 'Audi' 'Ford' 'Hyundai' 'Buick'
 'Cadillac' 'Acura' 'Lexus' 'Infiniti' 'Jeep' 'Mercedes-Benz' 'Mitsubishi'
 'Mazda' 'Mini' 'Land Rover' 'Lincoln' 'Jaguar' 'Volkswagen' 'Toyota'
 'Subaru' 'Scion' 'Porsche' 'Dodge' 'Fiat' 'Chrysler' 'Ferrari' 'Honda'
 'Gmc' 'Ram' 'Smart' 'Bentley' 'Pontiac' 'Saturn' 'Maserati' 'Mercury'
 'Hummer' 'Landrover' 'Mercedes' 'GMC' 'Saab' 'Suzuki' 'Oldsmobile'
 'Isuzu' 'Dodge Tk' 'Geo' 'Rolls Royce' 'Vw' 'Daewoo' 'Plymouth'
 'Ford Truck' 'Tesla' 'Airstream' 'Dot' 'Aston Martin' 'Fisker'
 'Lamborghini' 'Lotus']
61

In [21]:
print(data.model.unique())
print(data.model.nunique())

['Sorento' '3 Series' 'S60' '6 Series Gran Coupe' 'Altima' 'M5' 'Cruze'
 'A4' 'Camaro' 'A6' 'Optima' 'Fusion' 'Sonata' 'Q5' '6 Series' 'Impala'
 '5 Series' 'A3' 'XC70' 'X5' 'SQ5' 'S5' 'Verano' 'Suburban' 'ELR' 'V60'
 'X6' 'ILX' 'K900' 'Malibu' 'RX 350' 'Versa' 'Elantra' 'Versa Note' 'A8'
 'X1' 'Enclave' 'TTS' '4 Series' 'Silverado 2500HD' 'MDX' 'Silverado 1500'
 'SRX' 'G Coupe' 'G Sedan' 'FX' 'Santa Fe' 'Genesis' 'Equus'
 'Sonata Hybrid' 'Accent' 'Veloster' 'Elantra Coupe' 'Azera' 'Tucson'
 'Genesis Coupe' 'Wrangler' 'S-Class' 'GS 350' 'Outlander' 'C-Class'
 'Mazda2' 'Rio' 'M' '370Z' 'Soul' 'Outlander Sport' 'SLK-Class' 'ES 350'
 'E-Class' 'Mazda3' 'Cooper Clubman' 'Cooper' 'CX-9' 'Forte' 'Compass'
 'JX' 'RX 450h' 'LR4' 'Mazda5' 'Range Rover Evoque' 'LS 460' 'GLK-Class'
 'Sportage' 'Grand Cherokee' 'MKX' 'mkt' 'XF' 'GL-Class' 'M-Class'
 'Cooper Countryman' 'Lancer' 'Range Rover Sport' 'Passat' 'Corolla'
 'XC60' 'Sienna' 'Juke' 'Yaris' 'Sentra' 'Rogue' 'NV' 'CC' 'Leaf' 'Camry'
 'Tacoma' 'Jetta' 'Impreza WRX' 'FJ Cruiser' 'Beetle' 'Avalon' 'FR-S'
 'NV200' 'RAV4' 'Quest' 'Tundra' 'tC' 'Maxima' 'Cayenne' '911' 'Xterra'
 'Prius' 'S80' 'Frontier' 'Boxster' 'Camry Hybrid' 'xB' 'Cube'
 'Jetta SportWagen' '4Runner' 'Sequoia' 'Legacy' 'Armada' 'Venza' 'Murano'
 'Pathfinder' 'Panamera' 'Forester' 'Highlander' 'Impreza' '750i' 'TSX'
 '7 Series' '1 Series' 'TL' '750li' 'S4' 'A7' 'A5' 'RDX' 'M3'
 'Cooper Coupe' 'ZDX' 'R8' 'X3' 'Avenger' 'E-Series Wagon' 'Escape' 'Edge'
 'Focus' 'Flex' 'Z4' 'Traverse' 'F-350 Super Duty' 'Fiesta' '500' '200'
 'Journey' 'Charger' 'e350' 'Equinox' '300' 'F-150' 'Explorer'
 'Captiva Sport' 'Escalade' 'Grand Caravan' 'CTS Coupe' 'Town and Country'
 'E-Series Van' 'Volt' 'Express Cargo' 'e150' 'X5 M' 'Expedition'
 'Colorado' 'Express' 'California' 'Escalade ESV' 'Sonic' 'Accord' 'CR-V'
 'Mustang' 'Civic' 'Fit' 'Pilot' 'Odyssey' 'Crosstour' 'Transit Connect'
 'Terrain' 'Taurus' 'G Convertible' 'Yukon' 'Veracruz' 'XJ' 'Liberty'
 'IS 250' 'XK' 'QX' 'CT 200h' 'Mazda6' 'MKZ' 'Navigator' 'Range Rover'
 'SL-Class' 'Sedona' 'IS 350' 'Patriot' 'galant' '1500' 'GT-R' '2500'
 'Galant' 'fortwo' 'GLI' '5 Series Gran Turismo' 'XC90' 'Tiguan' 'GTI'
 'Q7' 'Highlander Hybrid' 'Prius Plug-in' 'CR-Z' 'EX' 'Sierra 1500'
 'LaCrosse' 'HHR' 'Accord Crosstour' 'CTS' 'Nitro' 'Tahoe' 'Challenger'
 'CTS-V' 'Escape Hybrid' 'X6 M' 'Ranger' 'Insight' 'Fusion Hybrid'
 'CTS-V Coupe' 'F-250 Super Duty' 'Acadia' 'Impala Limited' 'Dart' 'Spark'
 'M37' 'Sprinter' 'Town Car' 'CLS-Class' 'CX-7' 'MKT' 'QX56' 'Aveo'
 'Outback' 'Caliber' 'Routan' 'g1500' 'Sebring' 'Corvette'
 'Continental GT Speed' 'malibu' 'Land Cruiser' 'town' 'V50' 'Commander'
 'Altima Hybrid' 'G37 Convertible' 'g6' 'New Beetle' 'Golf' 'LR2'
 'Lancer Sportback' 'G5' 'Yukon XL' 'Escalade Hybrid' 'Avalanche' 'Titan'
 'Spectra' 'Rondo' 'Borrego' 'G-Class' 'MKS' 'CLK-Class' 'Tahoe Hybrid'
 'Econoline Cargo' 'Econoline Wagon' 'PT Cruiser' 'STS' 'Ridgeline'
 'F-450 Super Duty' 'Magnum' 'Durango' 'S40' 'Malibu Classic' 'TT'
 'Taurus X' 'Explorer Sport Trac' 'Ram Pickup 1500' 'impala' 'Cobalt'
 'Pacifica' 'S6' 'Rabbit' 'C70' 'Sierra 2500HD' 'C30' 'VUE' 'GranTurismo'
 'G6' 'Grand Prix' '350Z' 'Raider' 'Mazdaspeed Mazda3' 'Solstice' 'Milan'
 'GX 470' 'Aura' 'RX 400h' 'Matrix' 'H3' 'CL-Class' 'Outlook' '7' 'G37'
 'IS F' 'Touareg 2' 'Lancer Evolution' 'G35' 'xD' 'XJ-Series' 'G8' 'hhr'
 'H2' 'DTS' 'lr3' 'sts' 'Silverado 1500 Classic' 'M45' 'Uplander'
 'GS 450h' 'corvette' 'rangerover' 'Rendezvous' 'Monte Carlo' 'FX35'
 'range' 'ION' 'R-Class' 'lancer' 'Eclipse' 'c230wz' 'cx-7' 'B9 Tribeca'
 'matrix' 'tundra' 'RSX' 'mazda5' 'Mariner' 'gx' 'Five Hundred' 'Envoy XL'
 'S-Type' 'Element' 'Continental Flying Spur' 'S2000' 'FX45' 'sr' 'pilot'
 'GS 430' 'Cayman S' 'Mark LT' 'ES 330' 'GS 300' '350z' 'Camry Solara'
 'rx8' 'Touareg' 'Relay' 'lx' 'allroad quattro' '09-mar' '500L'
 'C-Max Hybrid' 'pacifica' 'Freestyle' 'Ram Pickup 3500' 'Sprinter Cargo'
 'DeVille' 'H2 SUT' 'TrailBlazer' 'Canyon' 'srx' 'Dakota' 'Continental GT'
 'Neon' 'Stratus' 'Q45' 'Freestar' 'Montana' 'Grand Marquis' 'XLR'
 'Aviator' 'g55' 'MPV' 'LS 430' 'Verona' 'Forenza' 'RX 330' '300M'
 'SC 430' 'discovery' 'Excursion' 'Envoy XUV' 'Envoy' 'Concorde'
 'Monterey' 'stratus' 'Mountaineer' 'Amanti' 'Malibu Maxx' 'Celica'
 'Grand Am' 'Endeavor' 'Marauder' 'escape' 'QX4' 'LS' 'Blazer'
 'Ram Pickup 2500' 'LeSabre' 'V40' 'Mazdaspeed Protege' 'Montero' 'ES 300'
 'focus' 'Thunderbird' 'Century' 'Cavalier' 'Venture' 'S-10' 's55'
 'Cougar' 'XL-7' 'Windstar' 'Silverado 1500HD' 'Explorer Sport'
 'Savana Cargo' 'X-Type' 'Sonoma' 'IS 300' 'forester' 'Protege5'
 'sprinter' 'RL' 'Alero' 'Grand Vitara' 'RX 300' 'L-Series' 'V70'
 'Intrigue' 'XC' 'Discovery Series II' 'S-Series' 'alero' 'santa' 'ECHO'
 'MX-5 Miata' 'Continental' 'Seville' 'camry' 'Park Avenue' 'Millenia'
 'I30' 'gr' 'sienna' 'camaro' 'Cherokee' 'Z3' 'civic' 'ram' 'odyssey'
 'taurus' 'expedition' 'Prizm' 'Escort' 's10' 'LHS' 'windstar' 'f250'
 'Regal' 'explorer' 'G20' 'Bonneville' 'Eldorado' 'voyager' 'venture'
 'durango' 'Intrepid' 'Contour' 'S90' 'Sunfire' 'mpv' 'caravan' '200SX'
 'Rodeo' 'wrangler' 'f150' 'Tercel' 'S70' 'Discovery' 'Mustang SVT Cobra'
 '300e' 'pickup' 'ciera' 'Legend' 'LS 400' 'Cutlass Ciera'
 'Santa Fe Sport' 'Cadenza' 'Q50' 'Elantra GT' 'F-TYPE' 'Shelby GT500'
 'QX70' 'QX60' 'Q60 Convertible' 'Cooper Roadster' 'CX-5' 'Cooper Paceman'
 'Rogue Select' 'Cayman' 'CLA-Class' 'allroad' 'ATS' 'Prius v'
 'Continental GTC' 'XV Crosstrek' '3500' 'C-Max Energi' 'Focus ST' 'RS 7'
 'GX 460' 'CTS Wagon' 'SLS AMG' 'Aspen' 'Eclipse Spyder' 'Vibe' 'Eos'
 'Entourage' 'expeditn' 'rl' 'Caravan' 'Quattroporte' 'M35' '09-may' 'SSR'
 'Astro Cargo' 'Safari Cargo' 'passat' 'Tribute' 'Diamante' 'Sable'
 'Silverado 3500' 'Phaeton' 'R32' 'I35' 'g500' 'Bravada'
 'Tahoe Limited/Z71' 'Truck' 'C/K 1500 Series' 'grand' 'SC 300'
 'Roadmaster' 'SC 400' '420sel' 'LX 570' 'QX80' 'RS 5' 'Jetta GLI'
 'ES 300h' 'capt' 'M4' 'SX4' 'iQ' 'Kizashi' 'C/V Cargo Van' 'Prius c'
 '750lxi' 'alp' 'Lucerne' 'Escalade EXT' 'Silverado 3500HD'
 'Crown Victoria' 'Sierra 3500HD' 'M56' 'rio' 'IS 250 C' '3' 'endeavor'
 'corolla' 'jetta' 'ActiveHybrid X6' 'a4' 'dts' 'g3500' 'colorado'
 'sebring' 'e250' 'police' 'Elantra Touring' 'G37 Coupe' 'HS 250h'
 'journey' 'Mazdaspeed3' 'Milan Hybrid' 'Ghost' 'Silverado 1500 Hybrid'
 'crown' 'Yukon Hybrid' 'elantra' 'optima' 'borrego' 'mazda6' '6'
 'Mariner Hybrid' 'montana' 'Torrent' 'VUE Hybrid' 'G3' '9-7X' 'vibe'
 'Expedition EL' 'Tiburon' 'patriot' 'LR3' 'Navigator L' 'Astra' 'Tribeca'
 'XL7' 'sx4' 'Sky' 'Reno' 'M6' 'S8' 'Terraza' 'Silverado 2500HD Classic'
 'uplander' 'ram3500' 'Sierra 1500 Classic' 'Sierra 2500HD Classic'
 'Fusion Energi' 'XK-Series' 'quattroporte' 'B-Series Truck' 'mazda3'
 'b200' 'Mazdaspeed Mazda6' 'Montego' 'g5' 'yaris' 'Rainier'
 'TrailBlazer EXT' 'optra' 'Crossfire' 'magnum' 'savana' 'Sierra 1500HD'
 'ridgelin' 'Savana' 'Zephyr' 'rrs' 'tribute' 'carrera' 'Montana SV6'
 'wave' 'tt' 'Classic' 'pt' 'freestyle' 'Ascender' 'XG350' 'Q60 Coupe'
 'Q70' 'QX50' 'pursuit' 'x-trail' 'GTO' 'xA' 'L300' 'Baja' '9-2X' 'Aerio'
 'el' 'rainier' 'Silverado 2500' 'Astro' 'Tracker' 'intrepid'
 'F-150 Heritage' 'expedit' 'accord' 'Freelander' 'c240w' 'MR2 Spyder'
 'RS 6' '320i' 'Voyager' 'Axiom' 'cl55' 'Montero Sport' 'sl55' 'Protege'
 'Silhouette' 'b1500' 'concorde' '626' 'Blackwood' 'Rodeo Sport' 'LX 470'
 'Villager' 'Firebird' 'Aztek' 'Aurora' 'CL' 'EuroVan' 'Catera' 'Leganza'
 'XG300' 'Prelude' 'Trooper' 'Prowler' 'Cabrio' 'Integra' 'cavalier'
 'astro' 'excurs' 'dakota' 'Cirrus' 'twn&country' 'Jimmy' 'safari'
 'ranger' 'sonoma' 'Sierra 2500' 'yukon' 'Sephia' 'Passport' 'Mirage'
 'breeze' 'silhouette' 'villager' 'beetle' 'suburban' 'Lumina' 'Amigo'
 'mountaineer' 'Esteem' 'pathfinder' 'quest' 'Breeze' 'e300dt' 'intrigue'
 'lumina' 'Cabriolet' 'envoy' 'Cutlass' 'GS 400' 'E-150' 'Regency'
 'thunderbird' 'B-Series Pickup' 'legacy' 'corsica' 'bronco' 'Le Baron'
 'Caprice' 'Pickup' 'century' '500-Class' '300-Class' 'previa'
 'Murano CrossCabriolet' 'NV Cargo' 'Jetta Hybrid' 'S7' 'Encore' 'XTS'
 'Black Diamond Avalanche' 'RLX' '2 Series' 'M6 Gran Coupe' 'regal'
 'versa' 'BRZ' 'C/V Tradesman' 'Model S' 'Beetle Convertible' 'Golf R'
 'routan' 'TSX Sport Wagon' 'interstate' 'a6' 'Corvette Stingray' 'SS'
 'Mazdaspeed 3' 'i-MiEV' 'F430' 'EX35' 'swift' 'GranSport' 'escalade'
 'neon' 'f350' 'Yukon Denali' 'Ghibli' '960' 'Cutlass Supreme' 'cougar'
 'IS 350 C' 'lacrosse' 'tucson' '323i' 'cobalt' 'x3'
 'Mazdaspeed MX-5 Miata' 'Ram Cargo' 'Safari' 'Eighty-Eight' '850' 'J30'
 'Promaster Cargo Van' 'sonic' 'rr' '1' 'Malibu Hybrid' '350' 'twn/cntry'
 'Spirit' 'Accord Hybrid' '3 Series Gran Turismo' 'e' 'cruze' 'c230'
 'crossfire' 'Viper' 'Riviera' 'compass' 'Avalon Hybrid' 'RX-8'
 'V8 Vantage' 'Equator' 'sportage' 'C/K 3500 Series' 'Mark VIII' 'charger'
 'GranTurismo Convertible' 'avenger' 'equinox' 'allure' 'c240s' 'Vitara'
 'avalon' 'eurovan' 'siera' 'pathfind' 'Eighty-Eight Royale' 'cherokee'
 'ActiveHybrid 7' 'aveo' 'GS 460' 'Tribute Hybrid' 'Aura Hybrid' 'tahoe'
 'g2500' '300ZX' 'Golf GTI' 'i-Series' 'golf' 'MKZ Hybrid' 'Macan' 'FX50'
 'comm' 'STS-V' 'Windstar Cargo' 'CTS-V Wagon' 'Karma' '328i' 'Z4 M' '42c'
 'subrbn' 'b2300' 'mountnr' 'Coupe' 'uplandr' 'Ram Van' 'Tempo' 'Tracer'
 'CV Tradesman' 'DB9' 'C/K 2500 Series' 'i8' 'Rapide' 'Nubira' 'Corsica'
 'NV Passenger' 'Spyder' 'LS 600h L' '400-Class' 'H3T' 'LX 450' 'WRX'
 'Silverado 3500 Classic' '500e' 'Continental Supersports' 'Sierra 3500'
 'Mystique' 'F-150 SVT Lightning' '190-Class' 'MKC' 'Aspire' '940'
 'Gallardo' 'Continental Flying Spur Speed' '3000GT' 'TT RS' 'B-Series'
 'ActiveHybrid 5' 'Sierra 1500 Hybrid' 'ML55 AMG' 'S-10 Blazer' 'RS 4'
 'T100' 'Continental GTC Speed' 'mdx' 'Transit Van' 'F-250' 'Sidekick'
 'E-250' '8 Series' '420-Class' 'E-350' 'Achieva' 'B-Class Electric Drive'
 'Fleetwood' 'Paseo' 'Civic del Sol' 'Exige' 'X4' 'Spark EV'
 'Transit Wagon' 'H1' 'SLS AMG GT' 'Flying Spur' 'Metro'
 'Grand Cherokee SRT' 'RC F' 'Q3' '4 Series Gran Coupe' 'RC 350' '360'
 'GLA-Class' 'TLX' '458 Italia']
973

In [22]:
print(data.body.unique())
print(data.body.nunique())

['SUV' 'Sedan' 'Convertible' ... 'pure' 'EWB' 'Power Wagon']
1974

In [23]:
print(data.color.unique())
print(data.color.nunique())

['white' 'gray' 'black' ... '41304' '117982' '71443']
2191

In [24]:
colors_validos = ['white', 'gray', 'black', 'red', 'silver', 'blue', 'brown', 'beige', 'purple',
                  'burgundy', 'gold', 'yellow', 'green', 'charcoal', 'orange', 'off-white',
                  'turquoise', 'pink', 'lime']

# Eliminar valores no válidos y convertir a minúsculas
data['color'] = data['color'].apply(lambda x: x.lower() if x in colors_validos else np.nan)

# Eliminar duplicados y valores nulos
data['color'].dropna(inplace=True)
data['color'] = data['color'].str.title()  # Capitalizar la primera letra de cada palabra

# Si hay valores duplicados, elimínalos
data['color'].drop_duplicates(inplace=True)

# Mostrar los colores únicos después del proceso de limpieza
print(data['color'].unique())

['White' 'Gray' 'Black' 'Red' 'Silver' 'Blue' 'Brown' 'Beige' 'Purple'
 'Burgundy' nan 'Gold' 'Yellow' 'Green' 'Charcoal']

In [25]:
# Reemplazar los valores nulos en 'color' con la moda
moda_color = data['color'].mode()[0]
data['color'].fillna(moda_color, inplace=True)

In [26]:
print(data.interior.unique())
print(data.interior.nunique())

['black' 'beige' 'tan' '—' 'gray' 'brown' 'burgundy' 'white' 'silver'
 'blue' 'red' 'gold' 'orange' 'purple' 'green' 'charcoal' 'off-white'
 'yellow' 'turquoise']
19

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558837 entries, 0 to 558836
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          558837 non-null  int64
 1   make          558837 non-null  object
 2   model         558837 non-null  object
 3   body          558837 non-null  object
 4   transmission  558837 non-null  object
 5   odometer      558837 non-null  float64
 6   color         558837 non-null  object
 7   interior      558837 non-null  object
 8   seller        558837 non-null  object
 9   mmr           558837 non-null  float64
 10  sellingprice  558837 non-null  float64
dtypes: float64(3), int64(1), object(7)
memory usage: 46.9+ MB

In [28]:
data.isnull().sum()

year            0
make            0
model           0
body            0
transmission    0
odometer        0
color           0
interior        0
seller          0
mmr             0
sellingprice    0
dtype: int64

In [29]:
data.nunique()

year                34
make                61
model              973
body              1974
transmission         2
odometer           469
color               14
interior            19
seller          215790
mmr                271
sellingprice       663
dtype: int64

In [30]:
# Verificar si hay filas duplicadas
duplicados = data.duplicated()

# Filtrar el DataFrame original para mostrar las filas duplicadas
filas_duplicadas = data[duplicados]

# Mostrar las filas duplicadas
print(filas_duplicadas)

        year       make             model     body transmission  odometer  \
525     2013   Infiniti                 M     Base    automatic   19430.0
688     2013     Nissan             Versa     Base    automatic   19430.0
897     2012        BMW          5 Series     528i    automatic   19430.0
1015    2012       Ford              Edge      SEL    automatic   19430.0
1104    2012  Chevrolet             Cruze      1LT    automatic   19430.0
...      ...        ...               ...      ...          ...       ...
557870  2014   Chrysler  Town and Country  Touring    automatic   19430.0
558750  2007     Saturn              Aura       XE    automatic   19430.0
558806  2012      Lexus            RX 350     Base    automatic   19430.0
558808  2008        BMW          1 Series     135i    automatic   19430.0
558836  2014       Ford             F-150      XLT    automatic   19430.0

        color interior   seller      mmr  sellingprice
525     White   silver    black  20800.0       34600.0
688     White    white    black  20800.0        9750.0
897     White    black    black  20800.0       29900.0
1015    White     blue    black  20800.0       19550.0
1104    White     blue    black  20800.0        9000.0
...       ...      ...      ...      ...           ...
557870  White    black  36169.0  20800.0       17250.0
558750  White    black  82083.0  20800.0       17250.0
558806  White    black  30235.0  20800.0       17250.0
558808  White    black  96344.0  20800.0       17250.0
558836  White    black  15008.0  20800.0       17250.0

[2765 rows x 11 columns]

In [31]:
# Eliminar filas duplicadas del DataFrame
data = data.drop_duplicates()

# Imprimir información sobre las filas duplicadas eliminadas
num_filas_iniciales = len(data)
num_filas_finales = len(data)
num_duplicados_eliminados = num_filas_iniciales - num_filas_finales
print("Número de filas duplicadas eliminadas:", num_duplicados_eliminados)

Número de filas duplicadas eliminadas: 0

In [32]:
hay_duplicados = data.duplicated().any()
if hay_duplicados:
    print("Se encontraron filas duplicadas.")
else:
    print("No se encontraron filas duplicadas.")

No se encontraron filas duplicadas.

In [33]:
data.head(10)

,year,make,model,body,transmission,odometer,color,interior,seller,mmr,sellingprice
0,2015,Kia,Sorento,SUV,automatic,16639.0,White,black,kia motors america inc,20500.0,21500.0
1,2015,Kia,Sorento,SUV,automatic,9393.0,White,beige,kia motors america inc,20800.0,21500.0
2,2014,BMW,3 Series,Sedan,automatic,1331.0,Gray,black,financial services remarketing (lease),31900.0,30000.0
3,2015,Volvo,S60,Sedan,automatic,14282.0,White,black,volvo na rep/world omni,27500.0,27750.0
4,2014,BMW,6 Series Gran Coupe,Sedan,automatic,2641.0,Gray,black,financial services remarketing (lease),66000.0,67000.0
5,2015,Nissan,Altima,Sedan,automatic,5554.0,Gray,black,enterprise vehicle exchange / tra / rental / t...,15350.0,10900.0
6,2014,BMW,M5,Sedan,automatic,14943.0,Black,black,the hertz corporation,69000.0,65000.0
7,2014,Chevrolet,Cruze,Sedan,automatic,28617.0,Black,black,enterprise vehicle exchange / tra / rental / t...,11900.0,9800.0
8,2014,Audi,A4,Sedan,automatic,9557.0,White,black,audi mission viejo,32100.0,32250.0
9,2014,Chevrolet,Camaro,Convertible,automatic,4809.0,Red,black,d/m auto sales inc,26300.0,17500.0

In [34]:
data.tail(10)

,year,make,model,body,transmission,odometer,color,interior,seller,mmr,sellingprice
558826,2014,Jeep,Grand Cherokee,Limited,automatic,19430.0,White,black,9024.0,20800.0,17250.0
558827,2014,Jeep,Grand Cherokee,Laredo,automatic,19430.0,White,black,25180.0,20800.0,17250.0
558828,2012,Dodge,Grand Caravan,American Value Package,automatic,19430.0,White,black,97036.0,20800.0,17250.0
558829,2012,Hyundai,Elantra,Limited,automatic,19430.0,White,black,66720.0,20800.0,17250.0
558830,2012,Nissan,Sentra,2.0 SR,automatic,19430.0,White,black,35858.0,20800.0,17250.0
558831,2011,BMW,5 Series,528i,automatic,19430.0,White,black,66403.0,20800.0,17250.0
558832,2015,Kia,K900,Luxury,automatic,19430.0,White,black,18255.0,20800.0,17250.0
558833,2012,Ram,2500,Power Wagon,automatic,19430.0,White,black,54393.0,20800.0,17250.0
558834,2012,BMW,X5,xDrive35d,automatic,19430.0,White,black,50561.0,20800.0,17250.0
558835,2015,Nissan,Altima,2.5 S,automatic,19430.0,White,black,16658.0,20800.0,17250.0

In [35]:
data.drop(columns= 'seller', inplace= True)

In [36]:
data.head()

,year,make,model,body,transmission,odometer,color,interior,mmr,sellingprice
0,2015,Kia,Sorento,SUV,automatic,16639.0,White,black,20500.0,21500.0
1,2015,Kia,Sorento,SUV,automatic,9393.0,White,beige,20800.0,21500.0
2,2014,BMW,3 Series,Sedan,automatic,1331.0,Gray,black,31900.0,30000.0
3,2015,Volvo,S60,Sedan,automatic,14282.0,White,black,27500.0,27750.0
4,2014,BMW,6 Series Gran Coupe,Sedan,automatic,2641.0,Gray,black,66000.0,67000.0

In [38]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 556072 entries, 0 to 558835
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          556072 non-null  int64
 1   make          556072 non-null  object
 2   model         556072 non-null  object
 3   body          556072 non-null  object
 4   transmission  556072 non-null  object
 5   odometer      556072 non-null  float64
 6   color         556072 non-null  object
 7   interior      556072 non-null  object
 8   mmr           556072 non-null  float64
 9   sellingprice  556072 non-null  float64
dtypes: float64(3), int64(1), object(6)
memory usage: 46.7+ MB

In [37]:
data.to_csv(r'C:\Users\Manuel Montufar\Documents\Vehiculos.csv', index = False)